body{
    /* Margen predeterminado de las paginas web */
    margin: 0;
    /* Margen para dentro */
    padding: 0;
    font-size: 13px;
    /* Fuente de texto */
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVEGACIÓN */
/*  */
/*  */

header{
    width: 100%;
    height:55px;
}

/* Para editar elementos dentro de elementos se pone espacio, para que se modifiquen juntos */

header nav{
    display: flex;
    /* Mover mi nav hacia la derecha */
    justify-content: flex-end;
}

header nav .nav-right-section{
    /* Eliminar viñetas */
    list-style: none;
    width: 250px;
    /* Hacemos el elemento flexible */
    display: flex;
    /* Centramos */
    justify-content: space-between;
    /* Centrado en sentido vertical */
    align-items: center;
    height: auto;
}

/* Se puede nombrar sin el header */
header nav .nav-right-section a{
    /* Quitar delineado */
    text-decoration: none;
    color: rgba(0,0,0,.87) ;
}

/* Las class se llaman con punto */
nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 22px;
    height: 22px;
    /* Tamaño de imagen de fondo -contenida en el espacio que tiene disponible */
    background-size: contain;
    /* Es para que no se repita una imagen 
    background-repeat: no repeat; */
    box-shadow: 0px 0px 2px 7px rgba(0, 0, 0, .1);
}

nav .nav-right-section img{
    /* Margin right (margen derecho y hacer espacio a la foto */
    margin-right: 20px;
    max-width: 100%;
    border-radius: 100%;
}

/* MAIN */
/*  */
/*  */

main{
    margin-top: 170px;
    /* EL backgroudn color sirve para ubicarse 
    background-color: aqua;*/
    text-align: center;
}

main .main-logo{
    width: 600px;
    /* PROPIEDAD: VALOR 1 VALOR 2 */
    /* PROPIEDAD: VERTICAL HORIZONTAL */
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    /* Editar tamaño de la imagen */
    height: 92px;
}

/* INPUT SECTION */
main .main-input{
    width: 530px;
    margin: 0 auto;
    /* Agregar margen inferior */
}

main .main-input-container{
    width: 500px;
    /* BORDE DE COLOR: ANCHURA DE LÍNEA, ESTILO, COLOR (hay varios tipos de estilo */
    border: 1px solid #dfe1e5;
    border-radius: 35px;
}

main .main-input input{
    height: 45px;
    border: none;
    /* QOUTLINE (quita los bordes de la cajita del input */
    outline: none;
    width: 390px;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    background-position: center;
    padding-left: 6%;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right:10px;
    margin-left: 10px;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    padding-left:15px;
    background-repeat: no-repeat;
    margin-right: 2px;
    margin-left: 5px;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    padding-left:6%;
    background-repeat: no-repeat;
    margin-right: 10px;
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px #a7afbd;
    border-color: #dfe1e500;
}

/* SECCIÓN MAIN BUTTONS */
main .main-buttons {
    width: 550px;
    /* Vertical (0) horizontal (auto) */
    margin: 0 auto;
}

main .main-buttons div {
    /* Alinear elementos en la misma línea */
    display: inline;
}

main .main-buttons button{
    /* Separación entre buscador y botones */
    margin-top: 30px;
    /* Eliminar borde negro, se puede poner 0 o none */
    border: none;
    height: 37px;
    background-color: #f8f9fa;
    /* color de texto */
    color: #3c4043;
    font-size: 14px;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 10px;
}

main .main-buttons button:hover{
    color: #202124;
    /* borde oscuro al pasar mouse */
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
}


/* FOOTER */
/*  */
/*  */
/*  */
footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #f2f2f2;
}


footer .footer-left{
    display: flex;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #202124;
    padding: 15px;
    list-style: none;
    justify-content:space-between;
}


footer .footer-right{
    display: flex;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #202124;
    padding: 15px;
    list-style: none;
    justify-content: space-between;
}
